{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <!-- HEADER -->
    <div class="col-md-12">
      <h1><i class="fa fa-beer fa-lg"></i>&nbsp; Traveling Beersman</h1><br>
    </div>
    <div class="col-md-12">
      <p>Like beer? Find the best beer.</p><br>
    </div>
    <!-- FORM -->
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">

        <form method="post" action="" class="form-horizontal">
          {{ form.csrf_token }}

          <div class="form-group">

            <div class="input-group">
              <span class="input-group-addon">{{form.address.label}}</span>
              {{ form.address(class_="form-control") }}
              <span class="input-group-btn">
                <input type="submit" value="Beer Me" class="btn btn-default" />
              </span>

            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
