/* Global Styles */

html { 	
  	background: url("../img/beer_foam.jpg"); no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.jumbotron {
	padding-top: 150px;
	left: 50%;
	top: 50%;
	text-align: center;
	background: transparent;
}

/* Google Maps Styles */

#map-canvas { 
	height: 100%;
}

